.maindiv{
  height: 300px;
  background:white;
  display:flex;
  justify-content: space-around;
  margin-top:100px;
}
.sub1{
  background:white;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 2px black;
}
.sub2{
  background:white;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 2px black;
}
.sub3{
  background:white;
  border-radius: 10px;
  box-shadow:2px 5px 5px 2px black;
}
body{
  background: #41f4bb;
}
.image1{
margin:5px;
  width: 200px;
  height: 220px;
}
.image2{
margin:5px;
  width: 200px;
  height: 140px;
}
@media all and (max-width:768px) {
body{
  background:red;
}
}
